<mat-card class="example-card">
  <div class="higher">
    <mat-card-header>
      <mat-card-title>Why you should buy in our store ?</mat-card-title>
      <mat-card-subtitle>Here's why :)</mat-card-subtitle>
    </mat-card-header>

    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile class="tile img-1"></mat-grid-tile>
      <mat-grid-tile class="tile img-2"></mat-grid-tile>
      <mat-grid-tile class="tile img-3"></mat-grid-tile>
      <mat-grid-tile class="tile img-4"></mat-grid-tile>
    </mat-grid-list>

    <mat-card-content>
      <p>
        In our store you can find all the popular brands on the market :))
      </p></mat-card-content
    >
  </div>
</mat-card>
