<ul class="nav-options">
  <li>
    <a [routerLink]="['/shoesOnline/main/category', 'all']" (click)="onClick()"
      >All</a
    >
  </li>
  <li>
    <a
      [routerLink]="['/shoesOnline/main/category', 'sneakers']"
      (click)="onClick()"
      >Sneakers</a
    >
  </li>
  <li>
    <a
      [routerLink]="['/shoesOnline/main/category', 'outing']"
      (click)="onClick()"
      >Outing</a
    >
  </li>
  <li>
    <a
      [routerLink]="['/shoesOnline/main/category', 'boots']"
      (click)="onClick()"
      >Boots</a
    >
  </li>
  <li>
    <a
      [routerLink]="['/shoesOnline/main/category', 'sport']"
      (click)="onClick()"
      >Sport</a
    >
  </li>
  <li>
    <a
      [routerLink]="['/shoesOnline/main/category', 'elegance']"
      (click)="onClick()"
      >Elegance</a
    >
  </li>
  <li>
    <a
      [routerLink]="['/shoesOnline/main/category', 'flip-flops']"
      (click)="onClick()"
      >Flip flops</a
    >
  </li>
  <li>
    <a
      [routerLink]="['/shoesOnline/main/category', 'comfort']"
      (click)="onClick()"
      >Comfort</a
    >
  </li>
  <li>
    <a
      [routerLink]="['/shoesOnline/main/category', 'sandals']"
      (click)="onClick()"
      >Sandals</a
    >
  </li>
  <li>
    <a
      [routerLink]="['/shoesOnline/main/category', 'casual']"
      (click)="onClick()"
      >Casual</a
    >
  </li>
  <li>
    <a
      [routerLink]="['/shoesOnline/main/category', 'walking']"
      (click)="onClick()"
      >walking</a
    >
  </li>
</ul>
