* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.msg-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: 45vh;
  border: 1px solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: antiquewhite;
}

h2 {
  font-size: 30px;
}

.msg-box div span,
.msg-box div a {
  font-size: 20px;
}
