* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.side-bar-item {
  width: 50vw;
  border-bottom: 0.5px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  color: #fff;
}

.menu span {
  font-size: 18px;
  margin-left: 5px;
}

/* ------------- media queries ------------ */
@media screen and (max-width: 950px) {
}

@media screen and (max-width: 450px) {
}
/* ------------- media queries ------------ */
