* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-container {
  width: 100%;
  /* display: inline-block; */
}

.card-container:hover {
  cursor: pointer;
}

mat-card {
  width: 100%;
  box-shadow: 0px 0px 14px 10px rgba(0, 0, 0, 0.16);
}

mat-card:hover {
  border: 1px solid;
}

.sale-price {
  color: red;
  font-weight: 500;
}

.initial-price {
  margin-left: 10px;
  font-weight: 500;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.on-sale {
  border: 1px solid;
  padding: 3px 5px 3px 5px;
  font-weight: 100;
}

.reduction {
  padding: 3px 5px 3px 5px;
  font-weight: 100;
  background-color: burlywood;
  color: white;
  margin-left: 10px;
}

.new {
  padding: 3px 5px 3px 5px;
  font-weight: 100;
  background-color: black;
  color: white;
}

.pop-up {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(173, 173, 173, 0.326);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-cart {
  width: 90%;
}

.fromPopUp {
  width: 30%;
}

/* ------------- media queries ------------ */
@media screen and (max-width: 950px) {
  .fromPopUp {
    width: 55%;
  }
}

@media screen and (max-width: 450px) {
  .fromPopUp {
    width: 70%;
  }

  .card-container {
    width: 100%;
  }
}
/* ------------- media queries ------------ */
